# ignore all files
*

# except the actual files needed for the UI
!.gitignore
!Set1.mat
!Set2.mat
!Set3.mat
!Set4.mat
!ViSATUI.mlapp
!assets
!assets/*
!ViSAT_images
!ViSAT_images/*
!ViSAT_images/*/*
!ViSAT_images/*/*/*

.DS_Store
